@import '../assets/sass/_variables.scss';
.contactWrapper {
  .contactHeading {
    h3 {
      font-size: 63px;
      text-align: center;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }
  .contactForm {
    padding: 70px;
    background-color: #7d7d7d30;
    border-radius: 25px;
    @media (max-width: 768px) {
      padding: 30px;
    }
    .submitWrap {
      display: flex;
      justify-content: center;
      .customContactButton {
        width: 230px;
        height: 40px;
        background-color: #cd1d5b;
        font-size: 15px;
        border-radius: 49px;
        border: 1px solid #e03f3f;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        &:hover {
          background-color: transparent;
          color: #e03f3f;
          transition: 0.3s ease-in;
          span {
            svg {
              fill: #e03f3f;
            }
          }
        }
      }
    }
  }
}
