@import '../../../assets/sass/_variables.scss';
.footerWrapper {
  margin-top: 60px;
  border-radius: 15px 15px 0 0;
  background-color: #7d7d7d30;
  text-transform: capitalize !important;
  .footerLogo {
    @media (max-width: 768px) {
      text-align: center !important;
    }
  }
  .bottomLogo {
    @media (max-width: 768px) {
      text-align: center !important;
    }
  }
  .footerInnerWrap {
    padding: 50px 0 50px 0;
    .customInfoText {
      font-weight: 400 !important;
      margin-top: 20px !important;
      font-size: 16px !important;
      line-height: 28px !important;
      font-family: $playBold;
      @media (max-width: 768px) {
        text-align: center !important;
      }
    }

    .customFooterInfo {
      margin-top: 15px;
      .customFooterHeading {
        color: #cd1d5b;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          text-align: center !important;
        }
      }
      .addressField {
        display: flex;
        gap: 10px;
      }
      .socialLinks {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        margin-top: 30px;
        @media (max-width: 768px) {
          text-align: center !important;
        }
        .links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 25px;
          cursor: pointer;
        }
      }
      p {
        font-family: $playBold;
        font-size: 13px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        @media (max-width: 768px) {
          text-align: center !important;
        }
      }
    }
  }
  .bottomFooterWrap {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center !important;
      gap: 40px;
    }
  }
}
