@import './variables.scss';

@mixin headingStyle {
  font-family: $playBold;
  font-size: 130px;
  color: transparent;
  -webkit-text-stroke: 2px $textColor;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0;
  @media (max-width: 1024px) {
    font-size: 100px;
  }
  @media (max-width: 768px) {
    font-size: 80px;
    text-align: center;
  }

  @media (max-width: 576px) {
    font-size: 45px;
    text-align: center;
  }
}

@mixin btnStyle {
  height: $basicFormItemsHeight;
  font-family: $playBold;
  font-weight: bold;
  font-size: 16px;
  min-width: 177px;
  padding: 0 10px;
  background-color: $primaryColor;
  background-image: linear-gradient(to bottom right, #cd1d5b, #e03f3f);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    background-image: none;
    color: white;
    color: $secondaryColor;
    background-color: $primaryColor;
    border: 1px solid $secondaryColor;
    // border-image: linear-gradient(to bottom right, #cd1d5b, #e03f3f) 5;
    transition: 0.3s ease-in;
  }
}
