@import './mixins.scss';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
  color: #fff;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $primaryColor;
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
}
h1 {
  @include headingStyle;
}
h5 {
  font-size: 18px;
  font-family: 400;
  font-family: $primaryFont;
}
.slick-arrow {
  &::before {
    font-size: 50px;
    color: #cd1d5b;
  }
  @media (max-width: 992px) {
    display: none !important;
  }
}
.ant-select-dropdown {
  background-color: #303030 !important;

  .ant-select-item-option-selected {
    background-color: #cd1d5b !important;
  }
}
body::-webkit-scrollbar {
  display: none;
}
.ant-anchor-ink {
  display: none;
}
